// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2016 Marvell Technology Group Ltd.
 *
 * Device Tree file for MACCHIATOBin Armada 8040 community board platform
 */

#include <dt-bindings/leds/common.h>
#include "armada-8040-mcbin.dtsi"

/ {
	model = "Marvell 8040 MACCHIATOBin Double-shot";
	compatible = "marvell,armada8040-mcbin-doubleshot",
			"marvell,armada8040-mcbin", "marvell,armada8040",
			"marvell,armada-ap806-quad", "marvell,armada-ap806";
};

&cp0_xmdio {
	status = "okay";

	phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <0>;
		sfp = <&sfp_eth0>;

		leds {
			#address-cells = <1>;
			#size-cells = <0>;

			led@0 {
				reg = <0>;
				color = <LED_COLOR_ID_GREEN>;
				function = "link-copper", "activity";
			};

			phy0_led1: led@1 {
				reg = <1>;
				color = <LED_COLOR_ID_GREEN>;
				function = "link-10g", "link-100m";
				excludes = <&phy0_led2>;
			};

			phy0_led2: led@2 {
				reg = <1>;
				color = <LED_COLOR_ID_YELLOW>;
				function = "link-1g", "link-10m";
				excludes = <&phy0_led1>;
			};
		};
	};

	phy8: ethernet-phy@8 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <8>;
		sfp = <&sfp_eth1>;

		leds {
			#address-cells = <1>;
			#size-cells = <0>;

			led@0 {
				reg = <0>;
				color = <LED_COLOR_ID_GREEN>;
				function = "link-copper", "activity";
			};

			phy1_led1: led@1 {
				reg = <1>;
				color = <LED_COLOR_ID_GREEN>;
				function = "link-10g", "link-100m";
				excludes = <&phy1_led2>;
			};

			phy1_led2: led@2 {
				reg = <1>;
				color = <LED_COLOR_ID_YELLOW>;
				function = "link-1g", "link-10m";
				excludes = <&phy1_led1>;
			};
		};
	};
};

&cp0_eth0 {
	status = "okay";
	/* Network PHY */
	phy = <&phy0>;
	phy-mode = "10gbase-r";
};

&cp1_eth0 {
	status = "okay";
	/* Network PHY */
	phy = <&phy8>;
	phy-mode = "10gbase-r";
};
